@import url(./background.css);
@import url(./preloader.css);
/* @import url(./animation.css); */

/* !!! extremely homophobic code below !!! */

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
}

#main 
{
    width: 100%;;
    height: 100vh;
}
.icon
{
    color: white;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    text-align: center;
}
.fab
{
    color: white;
    font-size: 40px;
    padding: 10px;
	transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
}
.fab:hover
{
	color: #f5b342;
}

.header
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 30%;
	left: 50%;
	color: white;
	font-size: 3rem;
}
#description{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 51%;
	left: 50%;
    font-weight: 300;
    font-size: 1.2rem;

    color: gray;
    transition-duration: 0.3s;
}
footer
{
	position: absolute;
	transform: translate(-50%,-50%);
	bottom: 1rem;
	left: 50%;
	z-index: 2;
	color: gray;
    text-align: center;
}
footer p
{
    color: gray;
}
footer a {
    color: gray;
}
footer a:hover
{
	color: #f5b342;
}
@media(max-width: 700px) {
    .container {
        width: 80%;
    }
    .fab {
        font-size: 30px;
        padding: 6px;
    }
};
.card
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 30%;
	left: 50%;
	color: white;
	font-size: 3rem;
}

@media(max-width: 354px) { .fab { padding: 1px; } };
@media(max-height: 700px) { .header { top: 43%; } };
