

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  font-family: "Monument Extended";
  padding: 4px;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  transform: scale(1.1);
}

a {
  color: rgb(245, 192, 255);
}
a:active {
  color: salmon;
}

.gradient {
  animation: rainbowRotate 0.4s ease-in-out infinite;
  background: linear-gradient(to right, #ff0000, #ffc400, #ffff00, #00FF00, #009fff, #6f00ff);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  font-size: 0.85rem;
  font-family: 'courier_regular';
  text-align: center;
  padding: 10px 30px;
}

.geocities {
  width: 200;
  height: 200;
}

.top-right {
  position: absolute;
  top: 0;
  right: 9px;
  animation: rainbowRotate 5s ease-in-out infinite;
  background: linear-gradient(-69deg, #3b55ac, #5ee9ff);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto Mono', monospace;
}

@keyframes rainbowRotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  width: 250px;
  height: 250px;
}

@media (min-width: 1280px) {
  .content {
  max-width: 40vw;
}
}
